<!DOCTYPE html>
<html>
  <head>
    <title>DesafioTILD</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="style/style.css" type="text/css">
  </head>

  <body>
    <!--modal erro login-->
    <div class="modal" id="erroLogin" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header" >
            <h5 class="modal-title">Falha de Login</h5>
          </div>
          <div class="modal-body">
            <p>Usuário não encontrado ou não existe!</p>
          </div>
          <div class="modal-footer"> <button type="button" class="btn btn-secondary" onclick="reload()">Ok</button> </div>
        </div>
      </div>
    </div>
    
    <!--modal de login-->
    <div class="modal" id="modalLogin">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Entrar</h5>
          </div>

          <div class="modal-body">
            <form id="loginForm" @submit="checkForm">              
              <div class="form-group row"> 
                <label for="id" class="col-2 col-form-label">ID: </label>
                <div class="col-10">
                  <input type="number" class="form-control" id="id" v-model="id" required> 
                </div>
              </div>
              <div class="modal-footer">
                <div class="form-group row">
                  <button type="submit" class="btn btn-primary text">Entrar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!--modal de logout-->
    <div class="modal" id="modalSair">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Sair</h5> 
            <button type="button" class="close" data-dismiss="modal"><span>×</span> </button>
          </div>
          <div class="modal-body text-center">
            <p>Confirma logout da sua conta?</p>
          </div>
          <div class="modal-footer text-center">
            <form id="logoutForm" @submit="checkForm">              
              <div class="form-group row">
                <button type="submit" class="btn btn-primary">Sim</button>&nbsp;&nbsp;
                <button type="button" class="btn btn-danger" data-dismiss="modal">Não</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div id="user">    
      <!--NAVBAR-->
      <nav class="navbar navbar-expand-lg navbar-light" >
        <div class="container"> 
          <a class="navbar-brand text-primary" href="home.html">
            <i class="fa d-inline fa-lg fa-circle-o"></i>
            <b>DesafioTILD</b>
          </a> 
          <div class="collapse navbar-collapse" id="navbar5" v-if="user_id == null || user_id == undefined">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item"> <a class="nav-link" href="newUser.html">Cadastro</a> </li>
            </ul>
            <a class="btn btn-outline-primary navbar-btn ml-md-2" onclick="$('#modalLogin').modal();">Entrar</a>
          </div>
          <div class="collapse navbar-collapse" id="navbar5" v-if="user_id != null && user_id != undefined">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item"> <a class="nav-link" href="conta.html">Conta</a> </li>
              <li class="nav-item"> <a class="nav-link" href="newPost.html">Novo Post</a> </li>
            </ul>
            <a class="btn btn-outline-primary navbar-btn ml-md-2" onclick="$('#modalSair').modal();">Sair</a>
          </div>
        </div>
      </nav>
      <!--NAVBAR-->

      <div class="row" v-if="user_id != null & user_id != undefined">
        <div class="container">
          <div class="py-2">
            <div class="py-5 mx-auto col-md-12 col-10 bg-white py-5 shadow">
              <div class="col-md-12" >
                <h3 class="mb-2 text-primary text-left"><span>{{dadosUser.name}}</span></h3>
                <div class="col-md-12">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fa text-primary mr-2 fa-birthday-cake"></i>Idade: {{dadosUser.age}} anos</li>
                    <li class="list-group-item"><i class="fa text-primary mr-2 fa-envelope"></i>&nbsp;E-Mail: {{dadosUser.email}}</li>
                    <li class="list-group-item"><i class="fa text-primary mr-2 fa-bookmark"></i>&nbsp;Conta criada em {{dadosUser.created_at}}</li>
                    <li class="list-group-item" ><i class="fa fa-wrench text-primary mr-2"></i> Pefil atualizado em {{dadosUser.updated_at}}</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="py-2">
            <div class="py-5 mx-auto col-md-12 col-10 bg-light py-5">
              <div class="col-md-12" >
                <h3 class="mb-2 text-primary text-left"><span>Posts:</span></h3>
                <div class="col-md-12">
                  <div v-for="item in dadosUser.posts">
                    <div class="py-3">
                      <div class="py-1 mx-auto col-md-12 col-12 bg-white shadow">
                        <div class="row mb-4">
                          <div class="col-3 text-center" v-if="item.image"> <img class="img-fluid d-block mx-auto" height="100" v-bind:src="item.image"> </div>
                          <div class="col-9">
                            <h5 class="text-primary"><b>{{item.title}}</b></h5>
                            <small class="text-primary"><i>Criado em {{item.created_at}} | Última edição em {{item.updated_at}}</i></small>                                  
                            <p class="mb-0 text-justify">{{item.content}}</p>
                            <br>
                            <div class="col-12">
                              <a class="btn btn-outline-primary" v-on:click="verMais(item.id)">Ver mais</a>&nbsp;&nbsp;
                              <a class="btn btn-outline-secondary" v-on:click="editar(item.id)">Editar</a>&nbsp;&nbsp;
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>

    <script type="text/javascript" src="scripts/script_conta.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>