<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="style/style.css" type="text/css">
  </head>

  <body>
    <!--NAVBAR-->
    <nav class="navbar navbar-expand-lg navbar-light" >
      <div class="container"> 
        <a class="navbar-brand text-primary" href="home.html">
          <i class="fa d-inline fa-lg fa-circle-o"></i>
          <b>DesafioTILD</b>
        </a> 
        <div class="collapse navbar-collapse" id="navbar5">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"> <a class="nav-link" href="newUser.html">Cadastro</a> </li>
          </ul><a class="btn btn-outline-primary navbar-btn ml-md-2" onclick="$('#modalLogin').modal();">Entrar</a>
        </div>
      </div>
    </nav>

    <div class="modal" id="modalLogin">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Entrar</h5> 
            <button type="button" class="close" data-dismiss="modal"><span>×</span> </button>
          </div>

          <div class="modal-body">
            <form id="loginForm" @submit="checkForm">              
              <div class="form-group row"> 
                <label for="email" class="col-2 col-form-label">E-mail: </label>
                <div class="col-10">
                  <input type="email" class="form-control" id="email" v-model="email" required> 
                </div>
              </div>
              <div class="form-group row"> 
                <label for="password" class="col-2 col-form-label">Senha: </label>
                <div class="col-10">
                  <input type="password" v-model="password" class="form-control" id="password" name="password" minlength="4" maxlength="8" required> 
                  <a href="#" class="card-link">Esqueci a senha!</a> </div>
              </div>
              <div class="modal-footer">
                <div class="form-group row">
                  <button type="submit" class="btn btn-primary text">Entrar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!--NAVBAR-->
    
    <div class="py-5 text-center shadow">
      <div class="container">
        <div id="postDetails" class="row">
          <div class="col-md-12 col-10 bg-white p-5 shadow border-primary border rounded-lg text-left">
              <div class="col-md-12">
                <h3 class="mb-2 text-center">{{post.title}}</h3>
                <img class="img-fluid d-block mx-auto" v-bind:src="post.image">
                <p class="text-justify">{{post.content}}</p>
                <br>
                <h6 class="text-primary" ><span><b>Autor: {{post.user.name}}</b></span></h6>
                <h6 class="text-primary" ><span v-if="post.created_at">Criado em {{post.created_at}}</span> | <span v-if="post.updated_at">Última edição em {{post.updated_at}}</span></h6>
              </div>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.js"></script>

    <script src="scripts/script_viewPost.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>

